@charset "UTF-8";
@import "home.css";

.approvals-row-contr {
 width: 100%;
 margin-left: 0;
 padding-left: 0;
 padding-top: 5px;
 padding-bottom: 5px;
 border: 1px solid blue;  
}

.approval-upper-content{
	display: inline-block;
	padding-left: 20px;
	width : 80%;
}

table.final-admittance-table{
	width : 100%;
}

th.name-display, td.name-display{
	width: 40%;
}

th.profile-data-display{
	width : 11%;
}

td.profile-data-display{
	width : 9%;
}

.download-reference{
	text-decoration: underline;
}

.download-reference:hover{
	cursor: pointer;
}

.approval-controls{
	float: right;
}

.final-admittance-form{
	margin : 15px 5px;
}


