@charset "UTF-8";
@import "home.css";

.alert-msg{
	margin-left: 105px;
	display: inline-block;
}

/* input#file.input-file.enroll-page, input#photofile.input-file.enroll-page */
/* --- not working, though had to...

input[type=file]::-webkit-file-upload-button {
	cursor : pointer;
} */